<!DOCTYPE html>
<html>
<head>
	<title>Button Page</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 20px;
		}
		
		.button-container {
			text-align: center;
		}
		
		.button {
			background-color: #4CAF50;
			color: #fff;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
		
		.button:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<div class="button-container">
		<a href="/length"><button class="button">Length</button></a>
		<a href="/weigth"><button class="button">Weight</button></a>
		<a href="/tempe"><button class="button">Temperature</button></a>
	</div>
</body>
</html>
